* {
    font-family: Helvetica;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(42, 42, 42);
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: #7300ff;
    transition: 0.5s;
    text-decoration: dashed;
}

a:hover{
    color: #a75ff0;
}